---
import Layout from "@layouts/Layout.astro";
import Header from "@components/landing/Header.astro";
import Footer from "@components/landing/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description }: Props = Astro.props;

const layoutProps = {
  title: title,
  description: description,
  canonicalURL: "https://ratoru.com",
  ogImage: "https://ratoru.com/assets/portait.webp",
  scrollSmooth: true,
  isBlog: false,
};
---

<Layout {...layoutProps}>
  <Header />
  <main id="main">
    <slot name="main" />
  </main>
  <Footer />

  <style>
    body {
      display: grid;
      grid-template-areas:
        "header"
        "main"
        "footer";
      grid-template-rows: 5rem minmax(0, 1fr);
      grid-template-columns: minmax(0, 1fr);
    }
    main {
      grid-area: main;
    }
  </style>
</Layout>
