---
import { Image } from "astro:assets";
import portraitImage from "@assets/main/portrait.webp";
---

<footer
  class="flex flex-col items-center p-8 border-t border-skin-line sm:flex-row"
>
  <a href="/" class="unset">
    <Image src={portraitImage} alt="Raphael's Avatar" class="h-12 w-9" />
  </a>
  <p
    class="mt-4 text-skin-muted text-sm sm:pl-4 sm:mt-0 sm:ml-4 sm:border-l sm:border-skin-line"
  >
    Made with{" "}
    <span role="img" aria-label="Love"> ♥</span>
  </p>
  <span
    class="inline-flex justify-center mt-4 space-x-5 sm:justify-start sm:mt-0 sm:ml-auto"
  >
    <a
      href="https://www.linkedin.com/in/ratoru/"
      class="text-skin-muted hover:text-skin-accent hover:rotate-6"
    >
      <span class="sr-only">LinkedIn</span>
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        viewBox="0 0 24 24"
      >
        <path
          d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
        ></path>
        <path d="M2 9H6V21H2z"></path>
        <circle cx="4" cy="4" r="2"></circle>
      </svg>
    </a>
    <a
      href="https://github.com/ratoru"
      class="text-skin-muted hover:text-skin-accent hover:rotate-6"
    >
      <span class="sr-only">GitHub</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-github"
        ><path
          d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
        ></path></svg
      >
    </a>
    <a
      href="/rss.xml"
      class="text-skin-muted hover:text-skin-accent hover:rotate-6"
    >
      <span class="sr-only">RSS Feed</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-rss"
        ><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"
        ></path><circle cx="5" cy="19" r="1"></circle></svg
      >
    </a>
  </span>
</footer>
