---
import HeaderLink from "./HeaderLink.astro";
---

<nav class="text-text-bold">
  <ul class="unset flex gap-4 [&>li]:p-0">
    <li><HeaderLink href="/">Home</HeaderLink></li>
    <li><HeaderLink href="/#work">Work</HeaderLink></li>
    <li><HeaderLink href="/blog">Blog</HeaderLink></li>
  </ul>
</nav>
