---
import PageLayout from "../layouts/PageLayout.astro";
import { Image } from "astro:assets";
import astronautImage from "../assets/main/astronaut.webp";
---

<PageLayout wide>
  <div
    slot="main"
    class="flex flex-col items-center mx-auto space-y-6 max-w-3xl md:space-y-8"
  >
    <Image
      class="lg:h-[430px]"
      src={astronautImage}
      alt="Astronaout floating in space"
    />
    <h1
      class="font-serif text-2xl md:text-3xl lg:text-5xl font-bold uppercase text-text-bold"
    >
      Lost in space
    </h1>
    <p class="text-text-base">
      You thought this mission to the moon would be a quick six month thing.
      Your neighbor offered to look after your dog. Your high school math
      teacher was impressed. He once said you wouldn&apos;t amount to anything.
      You sure showed him. But now here you are, fifty feet from your spaceship
      with no way to get back. Your dog will be so sad. Your math teacher will
      be so smug. Pretty devastating.
    </p>
  </div>
</PageLayout>
