---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/blog/Header.astro";
import Footer from "@components/blog/Footer.astro";
import LinkButton from "@components/blog/LinkButton.astro";
---

<Layout title={`404 Not Found | ${SITE.title}`} isBlog={true}>
  <Header />

  <main id="main-content">
    <div class="not-found-wrapper">
      <h1>Lost in Space (404)</h1>
      <p aria-hidden="true">¯\_(ツ)_/¯</p>
      <p>
        You thought this mission to the moon would be a quick six month thing.
        Your neighbor offered to look after your dog. Your high school math
        teacher was impressed. He once said you wouldn&apos;t amount to
        anything. You sure showed him. But now here you are, fifty feet from
        your spaceship with no way to get back. Your dog will be so sad. Your
        math teacher will be so smug. Pretty devastating.
      </p>
      <LinkButton
        href="/"
        className="my-6 text-lg underline decoration-dashed underline-offset-8"
      >
        Go back home
      </LinkButton>
    </div>
  </main>

  <Footer />
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl px-4 flex-1 items-center justify-center;
  }
  .not-found-wrapper {
    @apply my-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-2xl md:text-3xl lg:text-5xl font-bold text-skin-accent;
  }
  .not-found-wrapper p {
    @apply mt-4 md:mt-8 text-lg sm:text-xl md:text-2xl;
  }
</style>
