---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Oops! It looks like this page is lost in space!",
	title: "Oops! You found a missing page!",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | Oops something went wrong</h1>
	<p class="prose mb-4">
		You thought this mission to the moon would be a quick six month thing. Your neighbor offered to
		look after your dog. Your high school math teacher was impressed. He once said you wouldn&apos;t
		amount to anything. You sure showed him. But now here you are, fifty feet from your spaceship
		with no way to get back. Your dog will be so sad. Your math teacher will be so smug. Pretty
		devastating.
	</p>
	<p class="mb-8">Please use the navigation to find your way back</p>
</PageLayout>
