---
---

<section
  class="col-span-full space-y-6 flex flex-col items-center text-center lg:col-start-4 lg:col-end-10 xl:pt-0 pb-10 xl:pb-40"
>
  <p class="text-lg font-bold md:text-xl">
    Get in touch with me or check out my blog.
  </p>
  <div class="flex space-x-8">
    <a
      href="https://www.linkedin.com/in/ratoru/"
      target="_blank"
      class="unset button border-primary-yellow"
    >
      Say Hi 👋
    </a>
    <a href="/blog" target="_blank" class="unset button border-text-body">
      Read 📚
    </a>
  </div>
</section>
<style>
  .button {
    @apply inline-block py-4 px-6 rounded-3xl border-2 uppercase text-text-body text-base font-extrabold;
  }
  .button:hover {
    @apply bg-primary-yellow text-text-bold transition-all duration-300 border-primary-yellow;
  }
</style>
