---
import { Image } from "astro:assets";
import portraitImage from "../assets/main/portrait.webp";
---

<section class="mx-auto max-w-6xl md:h-screen md:-mt-[5rem]">
  <div class="grid grid-cols-1 grid-rows-1 md:grid-cols-2 md:h-full gap-y-4">
    <div
      class="m-auto space-y-6 sm:max-w-md md:space-y-4 lg:space-y-8 lg:max-w-lg xl:space-y-9"
    >
      <h1
        class="font-serif text-4xl font-medium tracking-tight sm:text-5xl lg:text-6xl lg:leading-tight"
      >
        Hi! I&apos;m Raphael. <br />
         An engineer.
      </h1>
      <p class="mx-auto text-base sm:max-w-md md:max-w-3xl lg:text-xl">
        I&apos;m a Master&apos;s student at Stanford with a passion for software
        engineering and design. I focus on Computer and Network security and
        Machine Learning.
      </p>
    </div>
    <div class="overflow-hidden m-auto">
      <Image src={portraitImage} alt="Picture of Raphael" loading="eager" />
    </div>
  </div>
</section>
